---
import "../styles/fonts.css";
import "../styles/global.css";

export interface Props {
title: string;
description: string;
permalink: string;
}

const { title, description, permalink } = Astro.props;
const socialUrl =
"//cdn.statically.io/og/theme=dark,fontsize=64px/Astro Advanced Blog Template.png";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<link
rel="sitemap"
type="application/xml"
title="Sitemap"
href="/sitemap-index.xml"
/>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/assets/icons/favicon_light-32.png"
media="(prefers-color-scheme:no-preference), (prefers-color-scheme:light)"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/assets/icons/favicon_light-16.png"
media="(prefers-color-scheme:no-preference), (prefers-color-scheme:light)"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/assets/icons/favicon_dark-32.png"
media="(prefers-color-scheme:dark)"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/assets/icons/favicon_dark-16.png"
media="(prefers-color-scheme:dark)"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialUrl} />

<!-- <style is:global lang="scss">
  @use "../assets/scss/base/modern-css-reset" as *;
</style> -->